@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 39 58% 41%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 39 58% 61%;
    --accent-foreground: 0 0% 10%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 39 58% 41%;
 
    --radius: 0.5rem;

    --chart-1: 39 58% 41%;
    --chart-2: 39 58% 61%;
    --chart-3: 39 40% 51%;
    --chart-4: 39 30% 71%;
    --chart-5: 39 70% 31%;
  }
 
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 39 58% 41%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 39 58% 61%;
    --accent-foreground: 0 0% 10%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 39 58% 41%;
 
    --radius: 0.5rem;

    --chart-1: 39 58% 41%;
    --chart-2: 39 58% 61%;
    --chart-3: 39 40% 51%;
    --chart-4: 39 30% 71%;
    --chart-5: 39 70% 31%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
